# 全局版本控制
APISIX_VERSION=3.16.0
ETCD_VERSION=v3.5.11

# 网络与集群配置
ETCD_HOST=172.20.0.10
ETCD_PORT=2379
ETCD_TOKEN=etcd_secret_token_2026

# 管理凭证
ADMIN_KEY=edd1c9f034335f136f87ad84b625c8f1
DASHBOARD_USER=admin
DASHBOARD_PASSWORD=admin_secure_password_2026